<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ClientSection" type="Framework.Rpc.Core.ConfigSection.ConfigurationSectionHandler`1[[Framework.Rpc.Core.ConfigSection.ClientSection, Framework.Rpc.Core]], Framework.Rpc.Core" />
  </configSections>
  <ClientSection>
    <Transport>Netty</Transport>
    <Serializer>Binary</Serializer>
    <Register>Zookeeper</Register>
    <RegisterAddress>172.17.6.233:2181</RegisterAddress>
    <LoadBalance>Random</LoadBalance>
  </ClientSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
